@model List<SingleViewModel>
@section HeaderSection{
    <title>Blog single page</title>
}
@{
    Layout = "_Layout";
    ViewData["body-class"] = "single";
}
@foreach (SingleViewModel m in Model){
<div id="fh5co-title-box" style="background-image: url(@Url.Content(m.PictureURL); background-position: 50% 90.5px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <img src="@Url.Content(m.PictureURL)" alt="@m.Title">
        <span>@m.PublishDate.ToShortDateString()</span>
        <h2>@m.Title</h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
               @m.Body
            </div>
            
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                @await Component.InvokeAsync("TagCloud")
                @await Component.InvokeAsync("MostPopular")
            </div>
            </div>
        </div>
    </div>
    </div>
    break;
}
@await Component.InvokeAsync("TrimbleCarouselBlog",new {categoryName="Teknoloji"})