@inject IViewLocalizer localizer
@model ArticleEditVM
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub"><a class="back-to" asp-action="index"><em class="icon ni ni-arrow-left"></em><span>Geri Dön</span></a></div>
                        </div>
                    </div>
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h4 class="title nk-block-title">@localizer["Makale Düzenle"]</h4>
                            </div>
                        </div>
                        <div class="row g-gs">
                            <div class="col-lg-12">
                                <div class="card h-100">
                                    <div class="card-inner">
                                        <form asp-action="Edit" enctype="multipart/form-data" asp-area="admin" asp-controller="Articles">
                                            <div asp-validation-summary="All"></div>
                                            <input asp-for="AuthorName" style="display:none;" />
                                            <input asp-for="PictureURL" style="display:none;" />
                                            <input asp-for="Categories" style="display:none;" />
                                            <div class="form-group">
                                                <label class="form-label" asp-for="PictureURL">@localizer["Resim Ekleyiniz"]</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-file">
                                                        <input type="file" class="form-file-input" id="customFile" asp-for="@Model.Picture">
                                                        <label class="form-file-label" for="customFile">@localizer["Dosya Seçiniz"]</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Categories">@localizer["Kategori Adı"]</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" asp-for="@Model.CategoryID" asp-items="@Model.Categories"></select>  
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right">
                                                                        <em class="icon ni ni-calendar-alt"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined date-picker" id="outlined-date-picker" asp-for="PublishDate">
                                                                    <label class="form-label-outlined" for="outlined-date-picker" asp-for="@Model.PublishDate">@localizer["Tarih"]</label>
                                                                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" asp-for="Title">@localizer["Makale Adı"]</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" asp-for="Title">
                                                    <span asp-validation-for="Title" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" asp-for="SlugUri">@localizer["Makale Kısayol"]</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" asp-for="SlugUri">
                                                    <span asp-validation-for="SlugUri" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                               <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="Status">
                                                <label class="custom-control-label" for="customSwitch1">@localizer["Durum"]</label>
                                            </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="tinymce-basic form-control" asp-for="Body"></textarea>
                                            </div>
                                            <input type="hidden" asp-for="Id">
                                            <div class="form-group">
                                                <button type="submit" value="Edit" class="btn btn-lg btn-primary">@localizer["Kaydet"]</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div><!-- .nk-block -->

            </div><!-- .nk-block -->

        </div>

    </div><!-- card -->
</div><!-- .nk-block -->